body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 2rem;
  }

header {
    background-color: #241c48;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h2{
    color: #241c48;
}

section {
    padding: 50px;
    text-align: center;
}

.livre {
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 15px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.livre img {
    width: 100%;
    height: auto;
}

button {
    background-color: #222;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.illustrations img {
    width: 300px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.btn-supprimer {
    background-color: transparent;      /* Fond transparent */
    color: #f44336;                     /* Couleur texte (rouge) */
    border: 1px solid #f44336;          /* Contour rouge */
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .btn-supprimer:hover {
    background-color: #f44336;
    color: white;
  }
